.header {
	background-color: rgba(216, 209, 209, 0.247);
	display: inline-block;
}

.mainHeader {
	color: rgb(146, 89, 146);
	background: rgb(175, 169, 169);
	text-align: center;

}

.sectionHeader {;
	color: rgb(10, 139, 139);
	background: rgba(128, 128, 128, 0.26);
}

.subsectionHeader {
	font-size: 22px;
	color: #1460aa;
}

#books {
	color: #1460aa;
	font-size: 23px;
	width: 50vw;
	max-width: 700px;
	border-top: 5px double rgb(138, 132, 132);
	padding: 5px 20px 5px 300px;
	margin: 32px auto;

}

.paragraph {
	background-color: rgba(180, 173, 173, 0.61);
	font-size: 21px;
	text-align: justify;
}

body {
	background-image: url(cool-background.png);
	min-height: 100%;
}

.about {
	width: 50vw;
	max-width: 700px;
	padding: 5px 20px 5px 300px;
}

.photos {
	width: 30vw;
	max-width: 33%;
}
.author {
	width: 50vw;
	max-width: 700px;
	padding: 5px 20px 5px 300px;
}