.main {
  width: 50vw;
	max-width: 700px;
  margin: 32px auto;
}

.header {
    display: inline-block;
    position: fixed;
    }

.mainHeader {
	color: rgb(146, 89, 146);
	background: rgb(175, 169, 169);
	text-align: center;
	width: 50vw;
	max-width: 700px;
	position: 32px auto;

}

.sectionHeader {;
	color: rgb(10, 139, 139);
	background: rgba(128, 128, 128, 0.26);
}

.subsectionHeader {
	font-size: 22px;
	color: #1460aa;
}

#books {
	color: #1460aa;
	font-size: 23px;
	border-top: 5px double rgb(138, 132, 132);
  
}

.paragraph {
	background-color: rgba(180, 173, 173, 0.61);
	font-size: 21px;
  text-align: justify;
  padding: 10px;
}

body {
	background-image: url(cool-background.png);
	min-height: 100%;
}

.photos {
display: flex;
width: 70vw;
}
